<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <%= form.label :question, style: "display: block", class: 'lead' %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div id="answers">
    <%= form.fields_for :answers do |answer_form| %>
      <%= render "answers/form", form: answer_form %>
    <% end %>
  </div>
  <div class="text-end mt-5">
    <%= form.submit 'Add answer', class: 'btn btn-success',
                    formaction: answer_path(@question.answers.size),
                    formmethod: :post,
                    formnovalidate: true,
                    id: "add-answer" %>
    <%= form.submit 'Save question & answers', class: 'btn btn-success' %>
  </div>
<% end %>
