<%= turbo_frame_tag "answer_#{form.index}" do %>
  <%= form.hidden_field :id %>

  <div class="mb-3">
    <%= form.label "Answer #{form.index.to_i + 1}", style: "display: block", class: 'lead' %>
    <div class="row">
      <div class="col-sm-10">
        <%= form.text_field :content, class: 'form-control mb-1' %>
        <div>
          <%= form.label "Rank answer", style: "display: block", class: 'lead mb-1' %>
          <div class="row">
            <div class="col-sm-2">
              100% Extrovert
            </div>
            <div class="col-sm-8">
              <%= form.range_field :introvert_score, in: 0..100, step: 1, class: 'form-range' %>
            </div>
            <div class="col-sm-2">
              100% Introvert
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <%= form.submit "Destroy", class: 'btn btn-danger',
                        formaction: answer_path(form.index, form.object.id),
                        formmethod: :delete,
                        formnovalidate: true,
                        data: { turbo_frame: "answer_#{form.index}" } %>
      </div>
    </div>
  </div>
<% end %>
